<br />
<br />
<br />

<h3>List of all Locations &#128204;</h3>

<hr />

{{! since we passed allTheLocationsFromDB as `locations`,
we can iterate over it here with #each}}

{{#each locations}}

  <div class="location-card">

    <h2><span style="font-size:26px; color:black;">Name:</span> {{this.name}} </h2>

    <br />

    <div>
      <a href="/userProfile/locations/{{this._id}}">See location details</a>
      <span>|</span> 
      {{! link that points to the details page }} 
      <a href="/userProfile/locations/{{this._id}}/edit">Edit</a>
      {{! link to redirect to the edit form for each specific location  }}

      {{! add the form to handle the POST request to remove a specific location  }}
      <form action="/userProfile/locations/{{this._id}}/delete" method="POST">
        <button>Delete</button>
      </form>

    </div>

    
  </div>
<hr />
{{else}}

  <p>There are no locations yet!</p>

{{/each}}