{{! views/movies/movie-details.hbs }}
<br> <br> <br>

<h2>{{movie.title}}</h2>
<img class="movie-img" src="{{movie.imageUrl}}" alt="{{movie.title}}" />
<br /> <br>

<h4>Directed by: {{movie.director}}</h4>
<h4>Cast: 
{{#each movie.cast}}
<h5>{{this}}</h5>
{{/each}}</h4>
<h4>Plot: {{movie.plot}}</h4> 
<h5>Release Date: {{movie.releaseDate}}</h5>
<h4>Country: {{movie.country}}</h4>
<br>

<h4>Location/Locations related to Movie/Movies:

  {{#each movie.locations}}
    <h5>{{this.name}} ♥️ </h5>
  {{/each}}</h4>

<hr />
    
</div>

<a href="/userProfile/movies">Back</a>

