{{! views/movies/movie-details.hbs }}
<br> <br> <br>

<h2>{{movie.title}}</h2>
<img class="movie-img" src="{{movie.imageUrl}}" alt="{{movie.title}}" />
<br />

<h5>Directed by: {{movie.director}}</h5>
<h5>Cast: 
{{#each movie.cast}}
<h6>{{this}}</h6>
{{/each}}</h5>
<p><h6>Plot</h6>: {{movie.plot}}</p>
<h5>Release Date{{movie.releaseDate}}</h5>
<h5>Country: {{movie.country}}</h5>
<br>

<h5>Location/Locations related to Movie/Movies:

  {{#each movie.locations}}
    <h6>{{this.name}} ♥️ </h6>
  {{/each}}</h5>

<hr />
    
</div>



<a href="/userProfile/movies">Back</a>

