{{! views/movies/movie-details.hbs }}
<br> <br> <br>

<h1><span style='font-size:50px;'>&#127916; </span>{{movie.title}}</h1>
<img class="movie-img" src="{{movie.imageUrl}}" alt="{{movie.title}}" />
<br /> <br>

<h4><span style="font-size:20px; color:black;">Directed by:</span> {{movie.director}}</h4>
<h4><span style="font-size:20px; color:black;">Cast:</span> 
{{#each movie.cast}}
<h5>{{this}}</h5>
{{/each}}</h4>
<h4><span style="font-size:20px; color:black;">Plot:</span> {{movie.plot}}</h4> 
<h5><span style="font-size:20px; color:black;">Release Date:</span> {{movie.releaseDate}}</h5>
<h4><span style="font-size:20px; color:black;">Country:</span> {{movie.country}}</h4>
<br>

<h4><span style="font-size:20px; color:black;">Location/Locations related to Movie/Movies:</span>

  {{#each movie.locations}}
    <h5>{{this.name}} ♥️ </h5>
  {{/each}}</h4>

<hr />
    
</div>

<a href="/userProfile/movies">Back</a>

