{{! views/movies/movie-edit.hbs }}

<h2>Edit the movie: {{movie.title}}</h2>

<form
  action="/userProfile/movies/{{movie._id}}/edit"
  method="post"
  enctype="multipart/form-data"
>

  <label>Title:</label>
  <input type="text" name="title" value="{{movie.title}}" required />

  <div>
    <label>Image:
      <input type="file" name="project-2-images" />
      <input
        type="text"
        name="existingImage"
        hidden
        value="{{movie.imageUrl}}"
      />
    </label>
  </div>

  <label>Directed by:</label>
  <input type="text" name="director" value="{{movie.director}}" />

  <label> Enter Cast/Casts (do not forget comma, if more than one): </label>
  <input name="cast" value="{{movie.cast}}" required />

  <label>Plot: </label>
  <textarea type="text" name="plot" cols="45" rows="5">{{movie.plot}}</textarea>

  <label>Release Date: </label>
  <input type="date" name="releaseDate" value="{{movie.releaseDate}}" />

  <!--  <label>Country:</label>
  <input type="text" name="country" value="{{movie.country}}" />-->

  <!-- <label for="locations"> Choose Location/Locations: </label>
  <select name="locations" id="locations" multiple> -->

  <!--  <label>Locations:</label>
  <input type="text" name="locations" value="{{movie.locations}}" />-->

  <button>Save changes</button>
</form>