<!-- <h1>Movie details</h1>

<div class="movie-card">

  <h2>Name: {{movie.name}}</h2>
  <p>Description: {{movie.description}}</p>
  <img class="movie-img" src="{{movie.imageUrl}}" alt="{{movie.name}}" />

  <h4>Owner: {{movie.owner.username}}</h4>

</div> -->